# Import data

In [3]:
import pandas as pd
df = pd.read_csv('direct_marketing.csv')

In [ ]:
# 64000 rows Ã— 13 columns
df

# COLUMN INDEXING

In [ ]:
# Results in a series object:

In [ ]:
df.recency

In [ ]:
df['recency']

In [ ]:
df.loc[:, 'recency']

In [ ]:
df.iloc[:, 0]

In [ ]:
# Results in a dataframe object:

In [ ]:
df[['recency']]

In [ ]:
df.loc[:, ['recency']]

In [ ]:
df.iloc[:, [0]]

# ROW INDEXING

In [15]:
df[0:2]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11

In [16]:
df.iloc[0:2, :]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11