# Order data

In [7]:
import pandas as pd
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [8]:
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
df.satisfaction = df.satisfaction.astype("category",ordered=True,categories=ordered_satisfaction).cat.codes
df

   satisfaction
0            -1
1             3
2             1
3             2

# Nominal data

In [9]:
df = pd.DataFrame({'vertebrates':['Bird','Bird','Mammal','Fish','Amphibian','Reptile','Mammal']})

In [10]:
# Method 1
df['vertebrates'] = df.vertebrates.astype("category").cat.codes
df

   vertebrates
0            1
1            1
2            3
3            2
4            0
5            4
6            3

In [11]:
# Method 2
df = pd.get_dummies(df,columns=['vertebrates'])
df

   vertebrates_0  vertebrates_1  vertebrates_2  vertebrates_3  vertebrates_4
0            0.0            1.0            0.0            0.0            0.0
1            0.0            1.0            0.0            0.0            0.0
2            0.0            0.0            0.0            1.0            0.0
3            0.0            0.0            1.0            0.0            0.0
4            1.0            0.0            0.0            0.0            0.0
5            0.0            0.0            0.0            0.0            1.0
6            0.0            0.0            0.0            1.0            0.0